* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}

td.align-right {
    text-align: right;
}

td:first-child {
    font-weight: bold;
}

form {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vertical-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.vertical-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.vertical-form input[type="text"],
.vertical-form input[type="email"],
.vertical-form input[type="password"],
.vertical-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.btnValid {
    width: 100%;
    padding: 10px;
    background-color: #2E8B57;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btnValid:hover {
    background-color: #26734A;
}

.btnValid:active {
    background-color: #1F5C3D;
}

.alert {
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alert-success {
    background-color: #e2f8d7;
    color: #1c7223;
}

.alert-red {
    background-color: #f8d7da;
    color: #721c24;
}

.deleteForm {
    display: inline;
    margin: 0;
    padding: 0;
}

.btnDelete {
    padding: 10px;
    background-color: #E74C3C;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnDelete:hover {
    background-color: #C0392B;
}

.btnDelete:active {
    background-color: #A93226;
}


/* Style général du formulaire en une seule ligne */
.single-line-form {
    display: flex; /* Affiche les éléments en ligne */
    align-items: center; /* Alignement vertical des éléments */
    gap: 16px; /* Espacement entre les groupes de champs */
    flex-wrap: nowrap; /* Empêche le passage à la ligne */
    max-width: none;
    margin: 10px 0;
    padding: 0 10px; /*Supprime les paddings par défaut */
    justify-content: flex-start; /* Aligne les éléments à gauche */
}

/* Style pour chaque groupe de champs */
.single-line-form .form-group {
    display: flex;
    align-items: center; /* Alignement vertical du label et du champ */
    gap: 8px; /* Espacement entre le label et le champ */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    /* flex: 1; Permet à chaque groupe de prendre une part égale de l'espace */
}

/* Style pour les labels */
.single-line-form .form-group label {
    font-weight: bold;
    min-width: max-content; /* Largeur minimale basée sur le contenu */
}

/* Style pour les champs de saisie */
.single-line-form .form-group input,
.single-line-form .form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Inclut le padding dans la largeur */
}

.single-line-form .form-group select {
    width: 150px; /* Largeur fixe pour le menu déroulant */
}

.single-line-form .weightInput{
    width: 9ch; /* 3 fois la largeur du caractère "0" */
    padding: 8px; /* Ajoute un peu de padding pour améliorer l'apparence */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.single-line-form .repsInput{
    width: 7ch; /* 3 fois la largeur du caractère "0" */
    padding: 8px; /* Ajoute un peu de padding pour améliorer l'apparence */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.single-line-form .commentInput{
    width: 500px;
    padding: 8px; /* Ajoute un peu de padding pour améliorer l'apparence */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.single-line-form .form-group .btnValid {
    width: auto; /* Largeur automatique pour le bouton */
    margin: 5px 0;
}

.btn-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 3px 0;
    background-color: #495057; /* Gris foncé */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-link:hover {
    background-color: #343a40; /* Gris plus foncé au survol */
}

.btn-link:active {
    background-color: #212529; /* Gris encore plus foncé au clic */
}

.btn-new {
    display: inline-block;
    padding: 10px 20px;
    margin: 3px 0;
    background-color: #2E8B57; /* Gris foncé */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-new:hover {
    background-color: #26734A; /* Gris plus foncé au survol */
}

.btn-new:active {
    background-color: #1F5C3D; /* Gris encore plus foncé au clic */
}

/* Style de base pour la navbar */
.navbar {
    background-color: #333; /* Fond sombre */
    padding: 10px 20px; /* Espacement interne */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style du nom de l'application */
.navbar-brand {
    color: #fff; /* Texte blanc */
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

/* Style des onglets */
.navbar-tabs {
    display: flex;
    gap: 15px; /* Espace entre les onglets */
}

.navbar-tabs a {
    color: #fff; /* Texte blanc */
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Effet au survol */
.navbar-tabs a:hover {
    background-color: #555; /* Fond plus clair au survol */
}

.shortInput{
    width: 7ch;
}