<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="exerciseSetForm(exerciseSetDTO, workoutData, exercises, lastSet)">
        <form th:action="@{/exerciseSets/add}" method="post" th:object="${exerciseSetDTO}" class="single-line-form">
            <input type="hidden" th:field="*{workout_id}" th:value="${workoutData.id}" />
        
            <div class="form-group">
                <label for="exercise">Exercice :</label>
                <select id="exercise" th:field="*{exercise_id}" required>
                    <option th:each="exercise : ${exercises}" 
                            th:value="${exercise.id}" 
                            th:text="${exercise.name}"
                            th:data-type="${exercise.type}" 
                            th:selected="${lastSet != null && lastSet.exerciseId == exercise.id}">
                    </option>
                </select>
            </div>
            <input type="hidden" name="type" id="setTypeInput" />

            <div class="form-group" id="durationField">
                <label for="durationS">Temps(sec) :</label>
                <input type="number" class="durationInput" id="durationS" th:field="*{durationS}" step="1" min="0"/>
            </div>

            <div class="form-group" id="weightField">
                <label for="weight">Poids(kg) :</label>
                <input type="number" class="weightInput" id="weight" th:field="*{weight}" step="0.5" min="0"/>
            </div>
            
            <div class="form-group" id="elasticField" style="display: none;">
                <label for="bands">Bandes :</label>
                <input type="text" class="bandsInput" id="bands" th:field="*{bands}" name="bands"/>
            </div>

            <div class="form-group" id="distanceField" style="display: none;">
                <label for="distance">Distance :</label>
                <input type="text" class="distanceInput" id="distance" th:field="*{distance}" name="distance"/>
            </div>

            <div class="form-group">
                <label for="repNumber">Nombre de répétitions :</label>
                <input type="number" class="repsInput" id="repNumber" th:field="*{repNumber}" 
                    th:value="${lastSet != null ? lastSet.nbReps : ''}" min="1" required />
            </div>

            <div class="form-group">
                <button type="submit" class="btnValid">Ajouter</button>
            </div>

            <div class="form-group">
                <label for="comment">Commentaire :</label>
                <input type="text" class="commentInput" id="comment" th:field="*{comment}" />
            </div>
        </form>
    </div>

    
</body>
</html>
