<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <body>
    <nav th:fragment="navbar" class="navbar">
        <h1>FitLogTimer</h1>

        <div class="navbar-tabs">
            <div id="chrono-timer-nav">
                <div class="nav-section">
                    <span id="nav-chrono">00:00</span>
                    <button data-action="chrono-toggle" title="Start/Pause">▶</button>
                    <button data-action="chrono-stop" title="Stop">⏹</button>
                </div>
                <div class="nav-section">
                    <span id="nav-timer">00:00</span>
                    <button data-action="timer-toggle" title="Timer">⏱</button>
                </div>
            </div>
            <div class="dropdown">
                <a href="/charts/weekly-main-exercises" class="dropdown-icon">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2">
                        <path d="M3 3v18h18"/>
                        <path d="M7 14l4-4 4 4 4-4"/>
                    </svg>
                </a>
                <div class="dropdown-menu">
                    <a href="/charts/weekly-main-exercises">Principaux</a>
                    <a href="/charts/weekly-bench-exercises">Bench</a>
                    <a href="/charts/weekly-main-exercises-1rmest">Principaux 1RMest</a>
                </div>
            </div>
            <a href="/timer">⏱</a>
            <a href="/workouts">Séances</a>
            <div class="dropdown">
                <a href="/stats/mainHistory" class="dropdown-icon">
                    Recap
                </a>
                <div class="dropdown-menu">
                    <a href="/stats/mainHistory">Complet</a>
                    <a href="/stats/mainHistory/semester">/ Semestre</a>
                    <a href="/stats/mainHistory/quarter">/ Trimestre</a>
                </div>
            </div>
            <a href="/exercises">Exercices</a>
            <a href="/calendar">Calendrier</a>
            <div class="dropdown">
                <a href="/count/yearly" class="dropdown-icon">+</a>
                <div class="dropdown-menu">
                    <a href="/count/yearly">Annuel</a>
                    <a href="/count/all">Tous</a>
                </div>
            </div>
            <a href="/calculator">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="24" height="24" fill="currentColor">
                    <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM96 64H352V160H96V64zM96 208H144v48H96V208zM176 208h48v48H176V208zM256 208h48v48H256V208zM336 208h48v48H336V208zM96 288h48v48H96V288zM176 288h48v48H176V288zM256 288h48v48H256V288zM336 288h48v48H336V288zM96 368h48v48H96V368zM176 368h48v48H176V368zM256 368h128v48H256V368z"/>
                </svg>
            </a>
            <a href="/drive-xls">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M3 3v18h18V3H3zm8 16H5v-6h6v6zm0-8H5V5h6v6zm8 8h-6v-6h6v6zm0-8h-6V5h6v6z"/>
                </svg>
            </a>
            <a href="/drive-json/files">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                </svg>
            </a>
            <a href="/preferences/create">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M24 13.616v-3.232l-2.869-1.02c-.198-.687-.472-1.342-.811-1.955l1.308-2.75-2.285-2.285-2.75 1.307c-.613-.339-1.269-.613-1.955-.811l-1.021-2.869h-3.232l-1.021 2.869c-.686.198-1.342.471-1.955.811l-2.75-1.308-2.285 2.285 1.308 2.75c-.339.613-.614 1.268-.811 1.955l-2.869 1.02v3.232l2.869 1.02c.197.687.472 1.342.811 1.955l-1.308 2.75 2.285 2.285 2.75-1.307c.613.339 1.269.613 1.955.811l1.021 2.869h3.232l1.021-2.869c.687-.198 1.342-.472 1.955-.811l2.75 1.308 2.285-2.285-1.308-2.75c.339-.613.613-1.269.811-1.955l2.869-1.02zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"/>
                </svg>
            </a>
            <a href="/workout-types">ST</a>
        </div>
    </nav>

</body>
</html>