<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <body>
    <nav th:fragment="navbar" class="navbar">
        <a class="navbar-brand" href="/">FitLogTimer</a>

        <div class="navbar-tabs">
            <div id="chrono-timer-nav">
                <div class="nav-section">
                    <span id="nav-chrono">00:00</span>
                    <button data-action="chrono-toggle" title="Start/Pause">▶</button>
                    <button data-action="chrono-stop" title="Stop">⏹</button>
                </div>
                <div class="nav-section">
                    <span id="nav-timer">00:00</span>
                    <button data-action="timer-toggle" title="Timer">⏱</button>
                </div>
            </div>
            <a href="/timer">⏱</a>
            <a href="/workouts">Séances</a>
            <a href="/exercises">Exercices</a>
            <a href="/calendar">Calendrier</a>
            <a href="/workout-types">Séances type</a>
            <a href="/calculator">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="24" height="24" fill="currentColor">
                    <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM96 64H352V160H96V64zM96 208H144v48H96V208zM176 208h48v48H176V208zM256 208h48v48H256V208zM336 208h48v48H336V208zM96 288h48v48H96V288zM176 288h48v48H176V288zM256 288h48v48H256V288zM336 288h48v48H336V288zM96 368h48v48H96V368zM176 368h48v48H176V368zM256 368h128v48H256V368z"/>
                </svg>
            </a>
            <a href="/import">#</a>
            <a href="/import/list">##</a>
            <a href="/connectDrive">###</a>
        </div>
    </nav>

</body>
</html>