<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <nav th:fragment="navbar" class="navbar">
        <a class="navbar-brand" href="/">FitLogTimer</a>

        <div class="navbar-tabs">
            <a href="/workouts">Séances</a>
            <a href="/exercises">Exercices</a>
            <a href="/calendar">Calendrier</a>
            <a href="/workout-types">Séances type</a>
        </div>
    </nav>

</body>
</html>