<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout info</title>
</head>
<body>
<div th:fragment="workout-edit(workoutUpdateDTO)">
    <h1>Séance du <span th:text="${workoutUpdateDTO.date}"></span></h1>
    <form
            th:action="@{/workouts/{id}(id=${workoutUpdateDTO.id})}"
            method="post"
            th:object="${workoutUpdateDTO}"
            th:attr="hx-post=@{/workouts/{id}(id=${workoutUpdateDTO.id})}"
            hx-target="#infos-section"
            hx-swap="innerHTML"
    >

        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" th:field="*{date}" />
        <label>Poids (kg) :<input type="number" th:field="*{bodyWeight}" step="0.1" /></label>
        <label>Commentaire :<textarea th:field="*{comment}"></textarea></label>
        <label>Type :<input type="text" th:field="*{type}" /></label>
        <button type="submit" class="btn btnValid">Enregistrer</button>

        <button type="button"
                th:attr="hx-get=@{/workouts/{id}/infos(id=${workoutUpdateDTO.id})}"
                hx-target="#infos-section"
                hx-swap="innerHTML"
                class="btnDelete">
            Annuler
        </button>
    </form>
</div>
</body>
</html>