<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Comptes</title>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
<p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>

<div class="header-container">
    <h1>Liste des séances </h1>
</div>
<br>
<table class="auto-width-table centered centered-text">
    <thead>
    <tr>
        <th>Exercice</th>
        <th>Séries</th>
        <th>Répétitions</th>
        <th th:if="${type == 'WEIGHT'}">Poids total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="counts : ${exerciseCountsList}">
        <td th:text="${counts.exerciseName}"></td>
        <td th:text="${counts.setsCount}"></td>
        <td th:text="${counts.repsCount}"></td>
        <td th:if="${type == 'WEIGHT'}">
            <span th:text="${counts.formattedWeight}"></span>
        </td>
    </tr>
    </tbody>
</table>

<script src="/js/timer.js"></script>
</body>
</html>