<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Liste des exercices</title>
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
    <p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>

    <h1>Liste des exercices</h1>
    <table>
        <thead>
            <tr>
                <th>Short</th>
                <th>Nom</th>
                <th>PB</th>
                <th>1RMest</th>
                <th>Muscles<br>
                    <select id="muscleFilter">
                        <option value="all">Toutes</option>
                        <option th:each="muscle : ${muscles}" th:value="${muscle}" th:text="${muscle}"></option>
                    </select>
                </th>
                <th>Famille<br>
                    <select id="familyFilter">
                        <option value="all">Toutes</option>
                        <option th:each="family : ${families}" th:value="${family}" th:text="${family}"></option>
                    </select>
                </th>
                <th>Type<br>
                    <select id="typeFilter">
                        <option value="all">Toutes</option>
                        <option th:each="entry : ${setTypes}" th:value="${entry.key}" th:text="${entry.value}"></option>
                    </select>
                </th>
                <th>+</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="exercise : ${exercises}" th:attr="data-family=${exercise.family()}, data-muscle=${exercise.muscle()}, data-type=${exercise.type()}">
                <td th:text="${exercise.shortName}"></td>
                <td th:text="${exercise.name}"></td>
                <td th:if="${exercise.personalBest != null and exercise.type != MOVEMENT_TYPE and exercise.type != ELASTIC_TYPE}"
                    th:text="|${exercise.personalBest % 1 == 0 ? exercise.personalBest.intValue() : #numbers.formatDecimal(exercise.personalBest, 1, 1)} ${exercise.type == FREE_WEIGHT_TYPE ? 'kg' : (exercise.type == ISOMETRIC_TYPE ? '&#34;' : '')}|" class="personalBest"></td>
                    <td th:unless="${exercise.type != MOVEMENT_TYPE and exercise.type != ELASTIC_TYPE}">-</td>
                <td th:if="${exercise.type == FREE_WEIGHT_TYPE}"
                    th:text="|${exercise.oneRepMaxEst % 1 == 0? exercise.oneRepMaxEst.intValue() : #numbers.formatDecimal(exercise.oneRepMaxEst, 1, 1)} kg|"></td>
                    <td th:unless="${exercise.type == FREE_WEIGHT_TYPE}">-</td>
                <td th:text="${exercise.muscle}"></td>
                <td th:text="${exercise.family}"></td>
                <td th:text="${@exerciseUtil.getDisplayName(exercise.type)}"></td>
                <td>
                    <a th:href="@{/exerciseSets/byExercise/{id}/groupedByDateClean(id=${exercise.id})}" class="btn-link">Histo</a>
                    <a th:href="@{/exerciseSets/byExercise/{id}(id=${exercise.id})}" class="btn-link">All</a>
                    <a th:if="${exercise.type == FREE_WEIGHT_TYPE}" th:href="@{/stats/maxsByReps/{id}(id=${exercise.id})}" class="btn-link">Maxs/rép</a>
                </td>
                <td>
                    <button class="btnEdit"
                            th:attr="hx-get=@{|/exercises/editForm/${exercise.id}?pb=${exercise.personalBest}&orm=${exercise.oneRepMaxEst}|}"
                            hx-target="closest tr"
                            hx-swap="outerHTML">
                        Modifier
                    </button>
                    <form th:action="@{/exercises/{id}(id=${exercise.id})}" class="deleteForm"  method="post"
                          onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btnDelete">Supprimer</button>
                    </form>
                </td>
            </tr>
            <tr class="edit-form" th:if="false" th:attr="data-exercise-id=${exercise.id}">
                <!-- Cette ligne sera remplacée par le formulaire -->
            </tr>
        </tbody>
    </table>
    <h1>Ajouter un nouvel exercice</h1>

    <form th:action="@{/exercises/create}" class="single-line-form" th:object="${exercise}" method="post">
        <div>
            <label for="name">Nom :</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>
        <div>
            <label for="shortName">Short :</label>
            <input type="text" id="shortName" th:field="*{shortName}" maxlength="5" oninput="this.value = this.value.toUpperCase()" class="shortInput" required>
        </div>
        <div class="form-group">
            <label for="muscle">Muscle :</label>
            <select id="muscle" th:field="*{muscle}" required>
                <option th:each="muscle : ${muscles}" 
                        th:value="${muscle}" 
                        th:text="${muscle}">Muscle</option>
            </select>
        </div>
        <div class="form-group">
            <label for="family">Family :</label>
            <select id="family" th:field="*{family}" required>
                <option th:each="family : ${families}" 
                        th:value="${family}" 
                        th:text="${family}">Family</option>
            </select>
        </div>
        <div class="form-group">
            <label for="type">Type de série :</label>
            <select id="type" th:field="*{type}" name="type" class="form-control" required>
                <option th:each="entry : ${setTypes.entrySet()}"
                        th:value="${entry.key}"
                        th:text="${entry.value}">
                </option>
            </select>
        </div>
        <div>
            <button type="submit" class="btnValid">Ajouter l'exercice</button>
        </div>
        <script src="/js/exercise-filters.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</body>
</html>