<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un nouvel exercice</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <h1>Ajouter un nouvel exercice</h1>

    <form th:action="@{/exercises/create}" class="vertical-form" th:object="${exercise}" method="post">
        <div class="form-group">
            <label for="name">Nom :</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>
        <div class="form-group">
            <label for="shortName">Short :</label>
            <input type="text" id="shortName" th:field="*{shortName}" maxlength="5" oninput="this.value = this.value.toUpperCase()" required>
        </div>
<!--        <div class="suggested-colors-scroll-container">-->
<!--            <div class="suggested-colors">Couleur:-->
<!--            <span th:each="col : ${@suggestedExerciseColors.getColors()}"-->
<!--                  th:attr="data-color=${col}"-->
<!--                  th:style="'background-color:' + ${col}"-->
<!--                  class="suggestedColor"-->
<!--                  onclick="this.closest('td').querySelector('input[type=color]').value=this.getAttribute('data-color')"-->
<!--                  title="Cliquer pour sélectionner">-->
<!--            </span>-->
<!--            </div>-->
<!--        </div>-->
        <div class="form-group">
            <label for="muscle">Muscle :</label>
            <select id="muscle" th:field="*{muscle}" required>
                <option th:each="muscle : ${muscles}" 
                        th:value="${muscle}" 
                        th:text="${muscle}">Muscle</option>
            </select>
        </div>
        <div class="form-group">
            <label for="family">Famille :</label>
            <select id="family" th:field="*{family}" required>
                <option th:each="family : ${families}" 
                        th:value="${family}" 
                        th:text="${family}">Family</option>
            </select>
        </div>
        <div class="form-group">
            <label for="type">Type :</label>
            <select id="type" name="type" class="form-control" required>
                <option th:each="entry : ${setTypes.entrySet()}"
                        th:value="${entry.key}"
                        th:text="${entry.value}">
                </option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn-valid">Ajouter l'exercice</button>
        </div>
    </form>

    <a th:href="@{/exercises}">Retour à la liste des exercices</a>
    <script src="/js/timer.js"></script>
</body>
</html>