<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste JSON</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<h2>Fichiers JSON dans INBOX</h2>
<table border="1" cellpadding="5">
    <tr>
        <th>Nom du fichier</th>
        <th>Statut</th>
        <th>Actions</th>
    </tr>
    <tr th:each="file : ${files}">
        <td th:text="${file.id}"></td>
        <td th:text="${importedFiles.contains(file.id) ? 'Importé' : 'Non importé'}"></td>
        <td>
            <a th:href="@{'/import/view/' + ${file.id}}">Voir</a>
            <form th:action="@{'/import/import/' + ${file.id}}" method="post" style="display:inline;">
                <button type="submit">Importer</button>
            </form>
            <form th:action="@{'/import/reset/' + ${file.id}}" method="post" style="display:inline;">
                <button type="submit">Réinitialiser</button>
            </form>
        </td>
    </tr>
    <a href="/import/initPreferences">export json to drive</a>
</table>
</body>
</html>
