<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Import de données</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="p-5">
<div th:insert="~{fragments/navbar :: navbar}"></div>
<h1>Import de fichier Excel</h1>

<div th:if="${message}" class="alert alert-success" th:text="${message}"></div>

<div class="header-actions">
    <a th:href="@{/run-import-script}" class="btn-new">Télécharger le fichier depuis Drive</a>
</div>

<table class="auto-width-table centered">
    <tr th:each="sheet : ${sheets}">
        <td th:text="${sheet}"></td>
        <td>
            <form th:action="@{/run-import}" method="post" style="display:inline;">
                <input type="hidden" name="sheetName" th:value="${sheet}">
                <button type="submit" class="btn-valid">Import Complet</button>
            </form>

            <form th:action="@{/run-partial-import}" method="post" style="display:inline;">
                <input type="hidden" name="sheetName" th:value="${sheet}">
                <button type="submit" class="btn-edit">Import Partiel</button>
            </form>
        </td>
    </tr>
</table>

<script src="/js/timer.js"></script>
</body>
</html>