<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste JSON</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="header-container">
    <h1>Fichiers JSON dans INBOX</h1>
</div>

<table class="auto-width-table centered">
    <tr>
        <th>Nom du fichier</th>
        <th>Statut</th>
        <th>Actions</th>
    </tr>
    <tr th:each="file : ${files}">
        <td th:text="${file.id}"></td>
        <td th:text="${importedFiles.contains(file.id) ? 'Importé' : 'Non importé'}"></td>
        <td>
            <a th:href="@{'/import/view/' + ${file.id}}" th:class="btn-edit">Voir</a>
            <form th:action="@{'/import/import/' + ${file.id}}" method="post" style="display:inline;">
                <button type="submit" class="btnValid">Importer</button>
            </form>
            <form th:action="@{'/import/reset/' + ${file.id}}" method="post" style="display:inline;">
                <button type="submit" class="btnEdit">Réinitialiser</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
