<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Import de données</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="p-5">
<div th:insert="~{fragments/navbar :: navbar}"></div>
<h1>Import de fichier Excel</h1>

<p th:if="${lastDownload != null}">
    Dernier téléchargement :
    <span th:text="${lastDownload}"></span>
</p>

<div th:if="${message}" class="alert alert-success" th:text="${message}"></div>

<form th:action="@{/run-import-script}" method="post" class="btn-form">
    <button type="submit" class="btn-valid">
        Télécharger le fichier depuis Drive
    </button>
</form>

<table class="auto-width-table centered">
    <tr th:each="sheet : ${sheets}">
        <td th:text="${sheet}"></td>
        <td>
            <form th:action="@{/run-import}" method="post" style="display:inline;"  class="btn-form">
                <input type="hidden" name="sheetName" th:value="${sheet}">
                <button type="submit" class="btn-valid">Import Complet</button>
            </form>

            <form th:action="@{/run-partial-import}" method="post" style="display:inline;"  class="btn-form">
                <input type="hidden" name="sheetName" th:value="${sheet}">
                <button type="submit" class="btn-edit">Import Partiel</button>
            </form>
        </td>
    </tr>
</table>

<script src="/js/timer.js"></script>
</body>
</html>