<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Poids max par nombre de réps</title>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
<p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>

<div class="header-container">
    <h1><span th:text="${exerciseName}"></span> : maxs</h1>
    <a th:href="@{/exercises}" class="link-back">&#x293A;</a>
    <a th:href="@{/exerciseSets/byExercise/{id}/groupedByDateClean(id=${exercise_id})}" class="link-back">📜</a>
</div>


<table class="auto-width-table centered centered-text">
    <thead>
    <tr>

        <th colspan="3">PB</th>

        <th class="empty-separator"></th>

        <th colspan="3">SB</th>

        <th class="empty-separator"></th>

        <th th:colspan="${allYears.size()}+1">Poids</th>

    </tr>
    <tr>
        <!-- PB -->
        <th>Reps</th>
        <th>Poids</th>
        <th>Date</th>

        <th class="empty-separator"></th>

        <!-- SB -->
        <th>Reps</th>
        <th>Poids</th>
        <th>Date</th>

        <th class="empty-separator"></th>

        <!-- Years -->
        <th>Reps</th>
        <th th:each="year : ${allYears}"><span th:text="${year}"></span></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${combinedMaxs}">
        <!-- PBs -->
        <td th:text="${entry.personalBest != null ? entry.nbReps : '-'}" class="bold-text"></td>
        <td>
            <div th:if="${entry.personalBest != null}">
                <div class="bold-text" th:text="${entry.personalBest.maxWeight + ' kg'}"></div>
                <div class="small-text" th:text="${entry.personalBest.RMest + ' kg'}"></div>
            </div>
            <div th:unless="${entry.personalBest != null}">-</div>
        </td>
        <td th:text="${entry.personalBest != null ? #temporals.format(entry.personalBest.date, 'dd/MM/yyyy') : '-'}"></td>

        <!-- Séparateur pour séparer PB et SB -->
        <td class="empty-separator"></td>

        <!-- SBs pour l'année en cours -->
        <td th:text="${entry.getYearlyBest(#dates.format(#dates.createNow(), 'yyyy')) != null ? entry.nbReps : '-'}" class="bold-text"></td>
        <td>
            <div th:with="currentYear=${#dates.format(#dates.createNow(), 'yyyy')},
                 yearlyBest=${entry.getYearlyBest(#dates.format(#dates.createNow(), 'yyyy'))}">
                <div th:if="${yearlyBest != null}">
                    <div class="bold-text" th:text="${yearlyBest.maxWeight + ' kg'}"></div>
                    <div class="small-text" th:text="${yearlyBest.RMest + ' kg'}"></div>
                </div>
                <div th:unless="${yearlyBest != null}">-</div>
            </div>
        </td>
        <td><span th:text="${entry.getYearlyBest(#dates.format(#dates.createNow(), 'yyyy')) != null ? #temporals.format(entry.getYearlyBest(#dates.format(#dates.createNow(), 'yyyy')).date(), 'dd/MM/yyyy') : '-'}"></span></td>

        <!-- Séparateur pour séparer les SBs et les anciennes années -->
        <td class="empty-separator"></td>

        <td th:text="${entry.nbReps}" class="bold-text"></td>
        <td th:each="year : ${allYears}">
            <div th:if="${entry.getYearlyBest(year) != null}">
                <div class="bold-text" th:text="${entry.getYearlyBest(year).maxWeight + ' kg'}"></div>
                <div class="small-text" th:text="${entry.getYearlyBest(year).RMest + ' kg'}"></div>
            </div>
            <div th:unless="${entry.getYearlyBest(year) != null}">-</div>
        </td>
    </tr>
    </tbody>
</table>

<script src="/js/timer.js"></script>
</body>
</html>