<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Progression</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="header-container">
    <h2>Maxs</h2>
</div>

<div id="periodChartContainer">
    <canvas id="periodChart"></canvas>
</div>

<div class="slider-container-period">
    <input type="range" id="zoomSlider" min="12" max="36" value="24" step="1">
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var chartData = /*[[${chartData}]]*/ [];
    /*]]>*/
</script>

<script src="/js/period-chart.js"></script>

</body>
</html>
