<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title th:text="'Historique des records - ' + ${exerciseName}">Historique des records</title>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
<p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>

<div class="header-container">
    <h1><span th:text="${exerciseName}"></span> : historique des records</h1>
    <a th:href="@{/exercises}" class="link-back">&#x293A;</a>
    <a th:href="@{/stats/maxsByReps/{id}(id=${exercise_id})}" class="link-back">🏆</a>
    <a th:href="@{/exerciseSets/byExercise/{id}/groupedByDateClean(id=${exercise_id})}" class="link-back">📜</a>
    <a th:href="@{/stats/recordHistoryPlus/{id}(id=${exercise_id})}" class="link-back">🔎</a>
</div>
<div class="history-page">
<table class="auto-width-table centered centered-text">
    <thead>
        <tr>
            <th>Date</th>
            <th th:if="${exercise_type==FREE_WEIGHT_TYPE}">Poids</th>
            <th th:if="${exercise_type==BODYWEIGHT_TYPE}">Nombre</th>
            <th th:if="${exercise_type==ISOMETRIC_TYPE}">Durée</th>
            <th>PDC</th>
            <th th:if="${exercise_type==FREE_WEIGHT_TYPE}">Ratio</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="record : ${recordHistory}">
            <td th:text="${#temporals.format(record.date, 'dd/MM/yyyy')}" th:class="column-sticky"></td>

            <!-- Freeweight -->
            <td th:if="${exercise_type==FREE_WEIGHT_TYPE}" th:text="${record.weight()} + 'kg'"  class="important-column bold-text"></td>

            <!-- Bodyweight -->
            <td th:if="${exercise_type==BODYWEIGHT_TYPE}" th:text="${record.nbReps}"></td>

            <!-- Isometric -->
            <td th:if="${exercise_type==ISOMETRIC_TYPE}">
                <span th:text="${#numbers.formatInteger(record.durationS / 60, 1)}"></span>'
                <span th:text="${#numbers.formatInteger(record.durationS % 60, 2)}"></span>"
            </td>

            <td th:text="${record.bodyWeight > 0 ? '@'+ record.bodyWeight + ' kg' : '-'}"></td>

            <!-- Ratio seulement pour freeweight -->
            <td th:if="${exercise_type==FREE_WEIGHT_TYPE}"
                th:text="${record.bodyWeight > 0 ? #numbers.formatDecimal(record.weight / record.bodyWeight, 1, 3) : '-'}"></td>
        </tr>
    </tbody>
</table>

<table class="auto-width-table centered centered-text">
    <thead>
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>Poids</th>
        <th>PDC</th>
        <th>Ratio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="topSet, iterNumber : ${topFreeWeightSets}">
        <td th:text="${iterNumber.count}" class="bold-text column-sticky"></td>
        <td th:text="${#temporals.format(topSet.date(), 'dd/MM/yyyy')}"></td>
        <td th:text="${topSet.weight()} + ' kg' + ${topSet.nbReps() > 1 ? ' (' + topSet.nbReps() + ')' : ''}"
            class="bold-text"
            th:classappend="${topSet.getColorClass}"></td>
        <td th:text="${topSet.bodyWeight() > 0 ? '@' + topSet.bodyWeight() + ' kg' : '-'}"></td>
        <td th:text="${topSet.bodyWeight() > 0 ? #numbers.formatDecimal(topSet.weight() / topSet.bodyWeight(), 1, 3) : '-'}"></td>
    </tr>
    </tbody>
</table>
</div>
<p th:if="${#lists.isEmpty(recordHistory)}">Aucun record trouvé pour cet exercice.</p>

<script src="/js/timer.js"></script>
</body>
</html>