<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Détails de la séance</title>
</head>
<body>
    <p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
    <p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>
    <p th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-error"></p>

    <h1>Séance du <span th:text="${sessionData.date}"></span></h1>
    <a th:href="@{/sessions/{id}(id=${sessionData.id})}" class="btn-link">Groupé</a>
    <p>Poids : <span th:text="${sessionData.bodyWeight}"></span> kg</p>
    <p>Commentaires : <span th:text="${sessionData.comment}"></span></p>
    

    <h2>Séries</h2>
    <table th:if="${sessionData.exerciseSets}">
        <thead>
            <tr>
                <th>Ex</th>
                <th>Reps</th>
                <th>Poids</th>
                <th>Max?</th>
                <th>Commentaires</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr th:each="set : ${sessionData.exerciseSets}">
            <td th:text="${set.exerciseNameShort}"></td>
            <td th:text="${set.repNumber}"></td>
            <td th:text="${set.weight}"></td>
            <td th:text="${set.isMax}"></td>
            <td th:text="${set.comment}"></td>
            <td>
                <form th:action="@{/exerciseSets/{id}(id=${set.id}, idSession=${sessionData.id})}" class="deleteForm"  method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btnDelete">Supprimer</button>
            </form>
            </td>
        </tr>
    </table>
    <p th:unless="${sessionData.exerciseSets}">Aucun exercice enregistré pour cette session.</p>

    <h2>Ajouter un exercice à cette séance</h2>
    <form th:action="@{/exerciseSets/add}" method="post" th:object="${exerciseSetDTO}" class="single-line-form">
        <input type="hidden" th:field="*{session_id}" th:value="${sessionData.id}" />
    
        <div class="form-group">
            <label for="exercise">Exercice :</label>
            <select id="exercise" th:field="*{exercise_id}" required>
                <option th:each="exercise : ${exercises}" th:value="${exercise.id}" th:text="${exercise.name}"></option>
            </select>
        </div>
    
        <div class="form-group">
            <label for="weight">Poids(kg) :</label>
            <input type="number" class="weightInput" id="weight" th:field="*{weight}" step="0.1" required />
        </div>
    
        <div class="form-group">
            <label for="repNumber">Nombre de répétitions :</label>
            <input type="number" class="repsInput" id="repNumber" th:field="*{repNumber}" required />
        </div>
    
        <div class="form-group">
            <button type="submit" class="btnValid">Ajouter</button>
        </div>

        <div class="form-group">
            <label for="isMax">Max :</label>
            <input type="hidden" name="_isMax" value="false" />
            <input type="checkbox" id="isMax" name="isMax" th:field="*{max}" value="true" />
        </div>
    
        <div class="form-group">
            <label for="comment">Commentaire :</label>
            <input type="text" class="commentInput" id="comment" th:field="*{comment}" />
        </div>
    </form>

    <form th:action="@{/sessions/{id}(id=${sessionData.id})}" class="deleteForm"  method="post">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit" class="btnDelete">Supprimer</button>
    </form>
    <br>
    <a href="/sessions/">Retour à la liste des séances</a>
</body>
</html>