<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Liste des séances</title>
</head>
<body>
    <p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
    <p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>

    <h1>Liste des séances</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Poids</th>
                <th>Commentaires</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sessionData : ${sessionsList}">
                <td th:text="${sessionData.id}"></td>
                <td th:text="${sessionData.date}"></td>
                <td th:text="${#numbers.formatDecimal(sessionData.bodyWeight, 1, 1)} + ' kg'"></td>
                <td th:text="${sessionData.comment}"></td>
                <td>
                    <a th:href="@{/sessions/{id}(id=${sessionData.id})}" class="btn-link">Détails</a>
                    <a th:href="@{/sessions/{id}/plus(id=${sessionData.id})}" class="btn-link">Set par set</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/sessions/create" class="btn-new">Nouvelle séance</a>
</body>
</html>