<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Liste des séries </title>
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
    <p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>
        <p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
        <p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>
        <p th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-error"></p>
        
        <h1>Séries de <span th:if="${#lists.size(sets) > 0}" th:text="${sets[0].exercise.name}"></span></h1>
        <a th:href="@{/exercises}" class="btn-link">Retour</a>
        <table th:if="${#lists.size(sets) > 0}">
            <tr>
                <th>Date</td>
                <th>Reps</td>
                <th th:if="${sets[0].exercise.type == 'ISOMETRIC'}">Temps</th>
                <th th:if="${sets[0].exercise.type == 'FREE_WEIGHT'}">Poids</th>
                <th th:if="${sets[0].exercise.type == 'MOVEMENT'}">Distance</th>
                <th th:if="${sets[0].exercise.type == 'ELASTIC' or sets[0].exercise.type == 'MOVEMENT'}">Bandes</th>
                <th>Poids de corps</th>
                <th th:if="${sets[0].exercise.type == 'FREE_WEIGHT'}">Ratio</th>
            </tr>
            <tr th:each="set : ${sets}">
                <td th:text="${set.workout.date}"></td>
                <td th:text="${set.repNumber}"></td>
                <td th:if="${sets[0].exercise.type == 'ISOMETRIC'}" th:text="${set.durationS}"></td>
                <td th:if="${sets[0].exercise.type == 'FREE_WEIGHT'}" th:text="${set.weight}"></td>
                <td th:if="${sets[0].exercise.type == 'MOVEMENT'}" th:text="${set.distance}"></td>
                <td th:if="${sets[0].exercise.type == 'ELASTIC' or sets[0].exercise.type == 'MOVEMENT'}" th:text="${set.bands}"></td>
                <td th:text="${set.workout.bodyWeight}"></td>
                <td th:if="${sets[0].exercise.type == 'FREE_WEIGHT'}" th:with="bodyWeight=${set.workout != null and set.workout.bodyWeight != null ? set.workout.bodyWeight : 0}">
                    <span th:text="${bodyWeight > 0 ? #numbers.formatDecimal(set.weight / bodyWeight, 1, 3) : (bodyWeight == 0 ? '-' : set.weight)}"></span>
                </td>
            </tr>
        </table>
        <a th:href="@{/exercises}" class="btn-link">Retour</a>
</body>
</html>