<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Liste des séries </title>
    <a th:href="@{/exercises}" class="btn-link">Retour</a>
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
    <p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>
        <p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
        <p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>
        <p th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-error"></p>
        
        <table th:if="${sets}">
            <tr>
                <th>Date</td>
                <th>Reps</td>
            </tr>
            <tr th:each="set : ${sets}">
                <td th:text="${set.idWorkout}"></td>
                <td th:text="${set.setGroup}"></td>
            </tr>
        </table>
        <a th:href="@{/exercises}" class="btn-link">Retour</a>
</body>
</html>