<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <title>Liste des séances</title>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div th:fragment="content">
  <p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
  <p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>
  <p th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-error"></p>

  <table class="auto-width-table centered">
    <thead>
    <tr>
      <th>Nom</th>
      <th></th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="type : ${workoutTypes}">
      <td th:text="${type.name}"></td>
      <td>
        <div class="color-swatch" th:style="'background-color:' + ${type.color}"></div>
      </td>
      <td th:text="${type.description}"></td>
      <td>
        <a th:href="@{/workout-types/{name}/edit(name=${type.name})}" class="btn-edit">Modifier</a>
        <form th:action="@{/workout-types/{name}(name=${type.name()})}" class="deleteForm" method="post">
          <input type="hidden" name="_method" value="delete" />
          <button type="submit" class="btn-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">Supprimer</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <a href="/workout-types/create" class="btn-new">Nouveau type</a>

  <script src="/js/timer.js"></script>
</div>
</body>
</html>
