<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Créer une nouvelle séance</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div class="header-container">
        <h1>Créer une nouvelle séance</h1>
        <a th:href="@{/workouts}" class="link-back">&#x293A;</a>
    </div>

    <form th:action="@{/workouts/create}" class="vertical-form" th:object="${workoutData}" method="post">
        <div>
            <label for="date">Date :</label>
            <input type="date" id="date" th:field="*{date}" th:value="${workoutData.date}" required>
        </div>
        <div>
            <label for="bodyWeight">Poids du corps (kg) :</label>
            <input type="number" id="bodyWeight" th:field="*{bodyWeight}" step="0.1" required>
        </div>
        <div>
            <label for="comment">Commentaires :</label>
            <input type="text" id="comment" th:field="*{comment}">
        </div>
        <div>
            <label for="type">Type :</label>
            <input type="text" id="type" th:field="*{type}">
        </div>
        <div>
            <button type="submit" class="btn-valid">Créer la séance</button>
        </div>
    </form>

    <script src="/js/timer.js"></script>
</body>
</html>