<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Détails de la séance</title>
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
    <p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>
    <p th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-error"></p>
    <h1>Séance du <span th:text="${workoutData.date}"></span></h1>
    <a th:href="@{/workouts/{id}/plus(id=${workoutData.id})}"  class="btn-link">Set par set</a>
    <p>Poids : <span th:text="${workoutData.bodyWeight}"></span> kg</p>
    <p>Commentaires : <span th:text="${workoutData.comment}"></span></p>
    

    <h2>Séries</h2>
    <table th:if="${workoutData.exerciseSets}">
        <tr th:each="set : ${workoutData.exerciseSets}">
            <td th:text="${set.exerciseNameShort}"></td>
            <td th:text="${set.sets}"></td>
        </tr>
    </table>
    <p th:unless="${workoutData.exerciseSets}">Aucun exercice enregistré pour cette workout.</p>

    <div th:replace="~{fragments/exercise-set-form :: exerciseSetForm(${exerciseSetDTO}, ${workoutData}, ${exercises}, ${lastSet})}"></div>
    <form th:action="@{/workouts/{id}(id=${workoutData.id})}" class="deleteForm"  method="post">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit" class="btnDelete"  onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">Supprimer</button>
    </form>
    <br>
    <a href="/workouts" class="btn-link">Retour à la liste</a>

    <script src="/js/set-type-handler.js"></script>
    <script src="/js/exercise-set-form.js"></script>
</body>
</html>