<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Détails de la séance</title>
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <p th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></p>
    <p th:if="${successRedMessage}" th:text="${successRedMessage}" class="alert alert-red"></p>
    <p th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-error"></p>

    <div class="workout-details-container">
    <div id="infos-section">
        <div th:replace="~{fragments/workout-display-brut :: workout-display-brut(workoutData=${workoutData})}"></div>
    </div>

    <table th:if="${workoutData.exerciseSets}">
        <thead>
            <tr>
                <th>Ex</th>
                <th>Reps</th>
                <th>Poids</th>
                <th>Bandes</th>
                <th>Temps</th>
                <th>Distance</th>
                <th>Commentaires</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr th:each="set : ${workoutData.exerciseSets}">
            <td th:text="${set.exerciseNameShort}"></td>
            <td th:text="${set.repNumber}"></td>
            <td th:text="${set.weight}"></td>
            <td th:text="${set.bands}"></td>
            <td th:text="${set.durationS}"></td>
            <td th:text="${set.distance}"></td>
            <td th:text="${set.comment}"></td>
            <td>
                <form th:action="@{/exerciseSets/{id}(id=${set.id}, idWorkout=${workoutData.id})}" class="deleteForm"  method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="btn-delete">Supprimer</button>
                </form>
            </td>
        </tr>
    </table>
    <p th:unless="${workoutData.exerciseSets}">Aucun exercice enregistré pour cette workout.</p>

    <div th:replace="~{fragments/exercise-set-form :: exerciseSetForm(${exerciseSetDTO}, ${workoutData}, ${exercises}, ${lastSet})}"></div>

    </div>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="/js/set-type-handler.js"></script>
    <script src="/js/exercise-set-form.js"></script>
    <script src="/js/timer.js"></script>
</body>
</html>